@charset "ISO-8859-1";

.container{
	background-color: grey;
		font-family: 'lora';
}
.card{
	background-color: grey;
}
.ima{
		background-image:url('D:/images/wel.jpeg');
	
}

.login{
	text-align: center;
}
.register{
	text-align:center;
}